
/* defining css variables */

$divDispaly : flex;
$contentHorizontal : row;
$contentVerticla : column;


*{
  margin: 0;
  box-sizing: border-box;
  padding: 0px;
}

.application{
  display: $divDispaly;
  flex-direction: $contentVerticla;
  justify-content: center;
  width: 98%;
  height: 70%;
  background-color: rgb(237, 239, 239);
  padding: 10px 0px 10px 0px;
  margin: 5px 10px;
  border-radius: 10px;
}


// SCSS for header section; nesting

header{
  margin-top: 2px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 2px;
  // border: solid red;
  background-color: rgb(237, 239, 239);
  position: sticky;
  top: 0px;
  z-index: 1;

    .logo{
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 4px;
    }
      .image{
        width: 40px;
        height: 30px;
        overflow: hidden;
        border-radius: 3px;
      }
        img{
          height: 138%;
          width: 100%;
        }
          .navigation{
            display: flex;
            flex-direction: row;
            column-gap: 10px;
          }
            .navigation > li {
              list-style-type: none;
            }
              .navigation > li > a {
                text-decoration: none;
              }
              .navigation > li > a:hover{
                background-color: black;
                color: white;
                padding: 2px;
                border-radius: 3px;
              }
                button{
                  font-size: small;
                  cursor: pointer;
                }

                .actual-cart{
                  display: $divDispaly;
                  flex-direction: $contentHorizontal;
                  position: relative;
                  .cart-icon{
                    font-size: larger;

                  }
                  .cart-quantity{
                    display: $divDispaly;
                    align-items: center;
                    justify-content: center;
                    background-color: red;
                    border: solid red;
                    border-radius: 50%;
                    color: white;
                    margin-left: -3px;
                    position: absolute;
                    left: 24px;
                    font-size: large;
                    top: 0px;
                    padding: 0px 3px;
                  }
                }
  }

  // SCSS for the body component; CSS variables and nesting concepts have been used.

.all{
  display: $divDispaly; //standard variable
  align-items: center;
  justify-content: center;
  flex-direction: column;

  
  .main-body{
    display: $divDispaly;
    justify-content: center;
    align-items: center;
    background-color: rgb(251, 238, 222);
    /* padding-right: 30px; */
    margin: 2px 20px;
    border-radius: 10px;
    width: 70%;
    height: auto;
  }
    .head-line{
      display: $divDispaly;
      flex-direction: $contentVerticla;
    }

      .vision{
        margin: 2px 5px 0px 30px;
      }
        .vision{
          font-size: x-large;
        }
          .caption{
            font-size: medium;
            margin: 10px 5px 0px 30px;
          }
            .all-buttons{
              display: $divDispaly;
              flex-direction: $contentHorizontal;
            }
              .shop-now{
                margin: 5px 5px 0px 30px;;
              }
                .shop-now> button{
                  padding: 5px;
                  font-size: small;
                  cursor: pointer;
                  background-color: black;
                  border: none;
                  border-radius: 5px;
                }
                  .fashion-on{
                    background-image: url("./images//fashion-on..png");
                    background-size: cover;
                    background-position: top;
                    background-repeat: no-repeat;
                    width: 300px;
                    height: 250px;
                  }
                    .fashion-on > img{
                      width: 100%;
                      height: 100%;
                    }

                    .products{
                      display: $divDispaly;
                      justify-content: center;
                      flex-wrap: wrap;
                      align-items: center;
                      background-color: rgb(248, 231, 209);
                      border-radius: 10px;
                      width: 80%;
                      margin-top: 10px;
                      margin-bottom: 0px;
                      height: 260px;
                      overflow-y: scroll;
                    }
                    
                    .mapped-details{
                      position: relative;
                      display: $divDispaly;
                      flex-direction: $contentVerticla;
                      flex-wrap: wrap;
                      width: 150px;
                      height: 180px;
                      border: solid #e9c46a;
                      margin: 10px;
                      background-color: #ffffff;
                      box-shadow: 2px 2px 6px grey;
                      border-radius: 3px;
                      padding-top: 2px;
                    }
                    
                    .mapped-details > p{
                      position: absolute;
                      bottom: 40px;
                      font-size: x-small;
                      margin: 0px 2px;
                    
                    }
                    
                    .product-image{
                      margin: 0px 25px;
                      width: 100px;
                      height: 100px;
                    }
                    .price{
                      display: $divDispaly;
                      flex-direction: $contentVerticla;
                      position: absolute;
                      bottom: 2px;
                      left: 5px;
                    }
                    .price > .cart{
                      display: $divDispaly;
                      flex-direction: $contentHorizontal;
                      justify-content: space-around;
                      align-items: center;
                    }
                    .price > .cart p{
                      font-size: x-small;
                      margin: 1px;
                    }
                    .price > .cart button{
                      font-size: x-small;
                      font-weight: bold;
                      margin-left: 20px;
                      background-color: #9fadb0;
                      border: none;
                      border-radius: 2px;
                      padding: 2px;
                      cursor: pointer;
                      box-shadow: 1.5px 1.5px 1px rgb(192, 152, 152);
                      color: #0d351b;
                    }
}

//SCSS for footer component; nesting and css variables have been used.

.app-footer{
  display: $divDispaly;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 98%;
  background-color: rgb(237, 239, 239);
  padding: 10px 0px 20px 0px;
  margin: 2px 10px;
  border-radius: 10px;

  .whole-footer{
    display: $divDispaly;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
  
  }
  
  .whole-footer > .call{
    display: $divDispaly;
    flex-direction: $contentVerticla;
    align-items: center;
    gap: 3px;
  }
  
  .whole-footer > .call::after{
    content: "0722000000";
  }
  
  .whole-footer > .email{
    display: $divDispaly;
    flex-direction: $contentVerticla;
    align-items: center;
    gap: 3px;
  }
  .whole-footer > .email::after{
    content: "app.gmail.com";
  }

  .social-media{
    display: $divDispaly;
    align-items: center;
    column-gap: 20px;
    margin: 0px 20px;
  }
 
}